<div class="toolbar-widget list-header" id="Toolbar-listToolbar">
  <div class="control-toolbar">

    <!-- Control Panel -->
    <div class="toolbar-item toolbar-primary">
      <div data-control="toolbar" data-disposable="">
        <a href="<?= Backend::url('mag/app/category/create') ?>" class="btn btn-primary oc-icon-plus">
          New Category
        </a>
      </div>        </div>

    <!-- List Search -->
    <div class="toolbar-item" data-calculate-width="" style="width: 110px;">
      <div class="loading-indicator-container size-input-text">
        <input placeholder="Search..." type="text" name="listToolbarSearch[term]" value="" data-request="listToolbarSearch::onSubmit" data-track-input="" data-load-indicator="" data-load-indicator-opaque="" class="form-control icon search growable" autocomplete="off">
      </div>
    </div>

  </div>
</div>

<div id="tree" class="clearfix" data-url="/backend/mag/app/category/getall"></div>

<?php $this->listRender() ?>
