#tree{
    float: left;
    overflow: hidden;
}

.products{}

.products .product{
    width: 200px;
    height: 260px;
    display: inline-block;
}
.product .box{
    padding: 20px 20px 0 15px;
    height: 200px;
}
.product .box .category{
    font-size: 12px;
}
.product .box h3{
    margin: 0;
    width: 100%;
    height: 40px;
    font-size: 13px;
}
.product .box h3 a{
    color: black;
}
.product .box h3 a:hover{
    color: #e4003a;
    text-decoration: none;
}
.product .box_b{
    width: 100%;
    height: 50px;
    padding: 0 20px 20px 15px;
}
.product .box_b .price{
    font-size: 20px;
    color: black;
}