<div class="import-page">

  <form class="import" action="/backend/mag/app/tip" method="post" enctype="multipart/form-data">
    <input type="file" name="file" id="file">
    <?= Form::token() ?>
    <button type="submit">Отправить</button>
  </form>

  <?= $this->showImport() ?>

</div>