
#tips a{
    color: black;
    display: block;
}
#tips a span{
    font-weight: 600;
    font-size: 16px;
    margin-right: 5px;
}

#tips,
#tree{
    float: left;
    overflow: hidden;
    position: relative;
    z-index: 1;
    width: 300px;
}
#tree li[aria-expanded="false"] > i.jstree-icon.jstree-ocl{
    background: url('../../images/plus.png') center center no-repeat;
    background-size: 12px;
}
#tree li[aria-expanded="true"] > i.jstree-icon.jstree-ocl{
    background: url('../../images/minus.png') center center no-repeat;
    background-size: 12px;
}

#tree .jstree-node,
#tree .jstree-icon{
    background: none;
}
#tree .jstree-node .jstree-themeicon{
    width: 0;
}

#products{
    min-height: 450px;
}
#products.load{
    position: relative;
}
#products.load:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    background: url('../../images/loader.gif') center 40px no-repeat;
    /*background-size: 100% 100%;*/
}

.products{
    text-align: center;
}
.products .product{
    width: 200px;
    height: 260px;
    display: inline-block;
    vertical-align: top;
}
.product .box{
    padding: 20px 20px 0 15px;
    height: 200px;
}
.product .box .category{
    font-size: 12px;
}
.product .box h3{
    margin: 0;
    width: 100%;
    height: 40px;
    font-size: 13px;
}
.product .box h3 a{
    color: black;
}
.product .box h3 a:hover{
    color: #e4003a;
    text-decoration: none;
}
.product .box_b{
    width: 100%;
    height: 50px;
    padding: 0 20px 20px 15px;
}
.product .box_b .price{
    font-size: 20px;
    color: black;
}
.product .box_b .old-price{
    font-size: 12px;
    vertical-align: bottom;
    text-decoration: line-through;
}
.product .pump{
    font-size: 12px;
    vertical-align: bottom;
    line-height: 14px;
    margin-top: 3px;
}
.product .pump-label{
    width: 40px;
    /*text-align: right;*/
    display: inline-block;
    font-weight: 600;
}



.partners img{
    margin: 0 auto;
}

/* Mymymym */

#btn-cart{
    display: inline-block;
}

/* Mymymym */

svg.btn-cart-product:hover path,
.btn-cart-product:hover path {
    fill: red;
}
svg.btn-cart-product path,
.btn-cart svg path {
    transition: all .1s ease-out;
    cursor: pointer;
}

[data-active="not"] .cls-1{
    fill: rgba(128, 128, 128, 0.26) !important;
}

#cart{}
#cart .products{}
#cart .item{
    padding: 10px 0;
    border-top: solid 1px grey;
}
#cart .item .price{
    display: inline-block;
    vertical-align: middle;
    width: 80px;
    padding-right: 5px;
    text-align: right;
}
#cart .item img{
    width: 60px;
    height: 60px;
}
#cart .item .title{
    margin-left: 10px;
    width: 120px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
    text-overflow: ellipsis;
}
#cart .item .delete{
    width: 18px;
    height: 23px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    background: url('../../images/delete.png') center center no-repeat;
}
#cart .calculate{
    display: inline-block;
    margin-left: 65px;
    text-align: right;
    width: 200px;
}