/*! Styles for the site maint8078jjk;enance mode */

body {
	margin: 20; padding: 0;
	font-family: Roboto, Arial, Helvetica; font-size: 125%;
	color: #333333;
	text-align: center;
}


h2 {
	color: #ff0000;
	border-bottom-style: dotted;
	border-color: #000000;
}

img  {
	border: 0 none;
	margin-left: auto;
	margin-right: auto;
}

/* -- id styles ------------------------------------- */

#border {
	margin: 20px auto;
	width: 400px;
	padding: 20px;
	border: 2px dotted;
    border-radius: 5px;
	box-shadow: 5px 5px 5px #888888;
}

#logobg {
	background: #c2c2c2;
	padding: 5px;
}