<section class="product" >

  <div class="box">
    <div class="category">({{ product.category.alias }})</div>
    <a href="/product/{{ product.alias }}" target="_blank" class="double-hover js-gtm-product-click pseudo-hover">
      <span class="">
          <img src="{{ product.photos|first }}" class="b-img2__img" width="140px" height="140px">
      </span>
    </a>
    <h3 class="b-product__title">
      <a href="/goods/3822306" target="_blank" class="js-gtm-product-click pseudo-hover"
         id="linkText3822306" data-gtm-eventlocation="main_page_top_hits" >
        {{ product.name }}
      </a>
    </h3>
  </div><!--
                    -->
  <div class="box_b">
    <div class="price">

      <span class="b-price b-price_theme_normal b-price_size3">
        {% if (product.price_mix) %}
          <span class="b-price__num">{{ product.price_mix|number_format( 0, ',', ' ') }}</span>
          <span class="b-price__sign">руб.</span>
          {% if (product.discount) %}
           <span class="old-price">{{ product.price|number_format( 0, ',', ' ') }}</span>
          {% endif %}
        {% else %}
          <span class="b-price__num" style="opacity: .5;">Не указана</span>
        {% endif %}
          <span data-goodid="3822306" style="margin-left: 5px;" ></span>
      </span>

      <svg data-product-id="{{ product.id }}"  data-active="{% if product.id in aCartIds %}not{% else %}added{% endif %}" class="btn-cart-product" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="19.875" height="19.88" viewBox="0 0 19.875 19.88"><defs><style>.cls-1 {fill: #1d1d1b;fill-rule: evenodd;}</style></defs><path d="M1.318,4.796 L18.556,4.796 L19.882,19.884 L-0.008,19.884 L1.318,4.796 ZM6.622,4.796 C6.622,4.796 6.622,5.487 6.622,6.853 C6.622,7.989 6.211,8.911 5.296,8.911 C4.381,8.911 3.970,7.989 3.970,6.853 C3.970,5.717 3.970,4.796 3.970,4.796 M15.904,4.796 C15.904,4.796 15.904,5.487 15.904,6.853 C15.904,7.989 15.493,8.911 14.578,8.911 C13.663,8.911 13.252,7.989 13.252,6.853 C13.252,5.717 13.252,4.796 13.252,4.796 M4.633,6.167 C4.633,2.762 6.597,-0.005 9.937,-0.005 C13.267,-0.005 15.241,3.383 15.241,6.167 C15.241,7.506 13.915,7.506 13.915,6.167 C13.915,4.081 12.580,1.366 9.937,1.366 C7.269,1.366 5.959,4.076 5.959,6.167 C5.959,7.528 4.633,7.549 4.633,6.167 Z" class="cls-1"></path></svg>

    </div>
    <div class="pump">
      {% if (product.p1) %}
        <span class="pump-label">P1:</span> <span>{{product.p1}} Вт</span> <br />
      {% endif %}
      {% if (product.hmax) %}
        <span class="pump-label">Qmax:</span> <span>{{product.hmax}} метров</span> <br />
      {% endif %}
      {% if (product.qmax) %}
        <span class="pump-label">Hmax:</span> <span>{{product.qmax}} л/мин</span>
      {% endif %}
    </div>
  </div>
</section>