description = "Default Layout"

[auth_mag]
[layout]
==
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ this.page.meta_description }}">
	<meta name="keywords" content="{{ this.page.meta_keywords }}">
    <meta name="author" content="{{ this.page.meta_author }}">
    <title>{{ this.page.title }} | {{ this.theme.site_name }}</title>
	
	<!-- core CSS -->
	{% styles %}
	<link href="{{ ['assets/css/bootstrap.min.css',
		'assets/css/font-awesome.min.css',
		'assets/css/animate.min.css',
		'assets/css/prettyPhoto.css',
		'assets/css/main.css',
		'assets/css/responsive.css',
    'assets/pages/base.css',
	]|theme }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ 'assets/images/ico/favicon.ico'|theme }}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ 'assets/images/ico/apple-touch-icon-144-precomposed.png'|theme }}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ 'assets/images/ico/apple-touch-icon-114-precomposed.png'|theme }}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ 'assets/images/ico/apple-touch-icon-72-precomposed.png'|theme }}">
    <link rel="apple-touch-icon-precomposed" href="{{ 'assets/images/ico/apple-touch-icon-57-precomposed.png'|theme }}">
</head><!--/head-->

<body class="homepage">

<header id="header">
		{% partial "top" %}
    {% partial "main_menu" main_menu=main_menu %}
</header><!--/header-->

    {% page %}

<!--<section id="bottom">-->
	<!--{# partial "bottom" #}-->
<!--</section>&lt;!&ndash;/#bottom&ndash;&gt;-->

<footer id="footer" class="midnight-blue">
	{% partial "footer" %}
</footer><!--/#footer-->

<!-- Scripts -->
<script type="text/javascript" src="{{ 'assets/js/html5shiv.js'|theme }}"></script>
<script type="text/javascript" src="{{ 'assets/js/respond.min.js'|theme }}"></script>
<script type="text/javascript" src="{{ 'assets/js/jquery.js'|theme }}"></script>
<!--<script type="text/javascript" src="{{ 'assets/js/jquery-1.9.0.min.js'|theme }}"></script>-->
<script type="text/javascript" src="{{ 'assets/js/bootstrap.min.js'|theme }}"></script>
<script type="text/javascript" src="{{ 'assets/js/jquery.prettyPhoto.js'|theme }}"></script>
<script type="text/javascript" src="{{ 'assets/js/jquery.isotope.min.js'|theme }}"></script>
<script type="text/javascript" src="{{ 'assets/js/main.js'|theme }}"></script>
<script type="text/javascript" src="{{ 'assets/js/wow.min.js'|theme }}"></script>
{% framework extras %}
{% scripts %}             
         
</body>
</html>