
.import-page{
    text-align: center;
}

.import-page .insert{
    float: right;
    margin-right: 30px;
}


form.import{
    padding:0 0 0 30px;
    text-align: left;
}
form.import button{
    display: block;
    margin-top: 10px
}
form.import input[type="file"]{
    display: inline-block;
}

table.import{
    display: inline-block;
    text-align: left;
}
table.import th{
    padding-right: 10px;
}
table.import td{
    padding-right: 10px;
    border-bottom: solid 1px black;
}
table.import tr:hover td{
    background: rgba(128, 128, 128, 0.22);
}