title = "Blog Item"
url = "product/:product"
layout = "default"

[product]
==

==
    <section id="blog" class="container">
        <!--<div class="center">-->
            <!--<h2>{{ entity.category.name }}</h2>-->
            <!--&lt;!&ndash;<p class="lead">Pellentesque habitant morbi tristique senectus et netus et malesuada</p>&ndash;&gt;-->
        <!--</div>-->

        <div class="blog">
            <div class="row">
                <div class="col-md-8">
                    <div class="blog-item">
                        <img class="img-responsive img-blog" src="{{ entity.photos|first }}" width="100%" alt="" />
                            <div class="row">  
                                <!--<div class="col-xs-12 col-sm-2 text-center">-->
                                    <!--<div class="entry-meta">-->
                                        <!--<span id="publish_date">07  NOV</span>-->
                                        <!--<span><i class="fa fa-user"></i> <a href="#"> John Doe</a></span>-->
                                        <!--<span><i class="fa fa-comment"></i> <a href="{{ 'blog/blog-item' }}">2 Comments</a></span>-->
                                        <!--<span><i class="fa fa-heart"></i><a href="#">56 Likes</a></span>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <div class="col-xs-12 col-sm-10 blog-content">
                                    <h2>{{ entity.prdoduct_type.name }}</h2>
                                    <div class="post-tags">
                                        <strong>Категория:</strong> <a href="#">{{ entity.category.name }}</a>
                                    </div>
                                    <div class="pump">
                                        {% if (entity.product.p1) %}
                                        <span class="pump-label">P1:</span> <span>{{entity.product.p1}} Вт</span> <br />
                                        {% endif %}
                                        {% if (entity.product.hmax) %}
                                        <span class="pump-label">Qmax:</span> <span>{{entity.product.hmax}} метров</span> <br />
                                        {% endif %}
                                        {% if (entity.product.qmax) %}
                                        <span class="pump-label">Hmax:</span> <span>{{entity.product.qmax}} л/мин</span>
                                        {% endif %}
                                    </div>
                                    <p>{{ entity.prdoduct_type.desc }}</p>
                                </div>
                            </div>
                        </div><!--/.blog-item-->
                    </div><!--/.col-md-8-->

            </div><!--/.row-->

         </div><!--/.blog-->

    </section><!--/#blog-->
