<div class="container">
    <div class="row">
        <div class="col-sm-8">
    &copy;  {{ "now"|date("Y") }} {{ this.theme.site_name }}. All Rights Reserved. A <a href="http://shapebootstrap.net/" title="Free Twitter Bootstrap WordPress Themes and HTML templates" target="_blank">ShapeBootstrap</a> Theme &#123;&#123; Powered by <a href="http://octobercms.com/">OctoberCMS</a> &#125;&#125;
        </div>
        <div class="col-sm-4">
            <ul class="pull-right">
                <li><a href="{{ 'home'|page }}">Home</a></li>
                <li><a href="{{ 'samples/about'|page }}">About Us</a></li>
                <li><a href="#">Faq</a></li>
                <li><a href="{{ 'samples/contact'|page }}">Contact Us</a></li>
            </ul>
        </div>
    </div>
</div>


<form id="online-consultant" class="forms" action="#" style="display: none;">
    <input type="hidden" name="to" value="{{ email }}">
    <div class="form-title">По любым вопросам, пишите нам, <br /> мы ответим вам в ближайшее время.</div>
    <div class="form-row">
        <div class="tolltip">Укажите телефон</div>
        <label for="phone">Ваш телефон</label>
        <input type="text" name="phone" id="phone" placeholder="+7(___) ___-__-__" />
    </div>
    <div class="form-row">
        <div class="tolltip">Укажите сообщение</div>
        <label for="text">Сообщение</label>
        <textarea name="text" id="text"></textarea>
    </div>
    <div class="form-row">
        <button type="submit" >Отправить</button>
    </div>
</form>

<form id="form-login" class="forms" action="#" style="display: none;">
    <div class="form-title">Укажите ваш телефон</div>
    <div class="form-row">
        <div class="tolltip">Укажите телефон</div>
        <label for="phone-login">Ваш телефон</label>
        <input type="text" name="phone" id="phone-login" placeholder="+7(___) ___-__-__" />
    </div>
    <div class="form-row">
        <button type="submit" >Войти</button>
    </div>
</form>

<form id="form-logout" class="forms" action="#" style="display: none;text-align: center;">
    <div class="form-title">Вы хотите выйти?</div>
    <div class="form-row">
        <button type="submit" style="margin-left: 0" >Хочу</button>
    </div>
</form>
