{% macro render_menu(main_menu) %}
    {% for code, link in main_menu %}
      <li class="{{ code == currentPage ? 'active' }} {{ link.childs ? 'dropdown' }}" data-id="{{ link.id }}" >
        <a href="{{ link.childs ? '#' : (link.page ?: link[0])|page }}"
          {% if link.childs %}data-toggle="dropdown"{% endif %}
          class="{{ link.childs ? 'dropdown-toggle' }}" >
          {{ link.name }}
          {% if link.childs %}<span class="caret"></span>{% endif %}
        </a>
        {% if link.childs %}
          <span class="dropdown-arrow"></span>
          <ul class="dropdown-menu">
            {{ _self.render_menu(link.childs) }}
          </ul>
        {% endif %}
      </li>
    {% endfor %}
{% endmacro %}

{% import _self as nav %}

<nav class="navbar navbar-inverse" role="banner">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				{{ nav.render_menu(main_menu) }}
			</ul>
		</div>
	</div>
</nav><!--/nav-->