<div class="container">
    <!--<div class="center wow fadeInDown">-->
        <!--<h2>Our Partners</h2>-->
        <!--<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>-->
    <!--</div>-->

    <div class="partners">
        <ul>
            <!--<li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms" src="{{ 'assets/images/partners/partner1.png'|theme }}"></a></li>-->
            <!--<li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms" src="{{ 'assets/images/partners/partner2.png'|theme }}"></a></li>-->
            <!--<li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms" src="{{ 'assets/images/partners/partner3.png'|theme }}"></a></li>-->
            <!--<li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1200ms" src="{{ 'assets/images/partners/partner4.png'|theme }}"></a></li>-->
            <!--<li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1500ms" src="{{ 'assets/images/partners/partner5.png'|theme }}"></a></li>-->

            {% for brand in brands %}
                <li>
                    <a href="#">
                        <img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms" src="{{ brand.photo }}">
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div><!--/.container-->
