<div id="tips">
  <h3>Советы по подбору насосов</h3>
  {% for key, tip in tips %}
    <a href="#tip-{{ key+1 }}">
      <span>{{ key+1 }}.</span> {{ tip.title }}
    </a>
    <div class="tip" id="tip-{{ key+1 }}" data-text="{{ tip.text }}" style="display: none;">
      <h3><span>{{ key+1 }}.</span> {{ tip.title }}</h3>
      {{ tip.text }}
    </div>
  {% endfor %}
</div>