    <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-sm-2">
                      <a class="navbar-brand" href="{{ 'home'|page }}">
                        <img style="width: 180px;" src="{{ 'assets/images/logo_nasos.png'|theme }}" alt="logo">
                        www.161nasos.ru
                      </a>
                    </div>
                    <div class="col-sm-2">
                        <div class="top-number"><p><i class="fa fa-phone-square"></i>{{ phone }}</p></div>
                    </div>
                    <div class="col-sm-2">
                        <div><p><a id="online-consultant-href" href="#online-consultant">Он-лайн консультант</a></p></div>
                    </div>
                    <div class="col-sm-2" style="padding: 0;">
                      {% if(auth) %}
                        {% set firstSeg = auth|slice(1, 3) %}
                        {% set secondSeg = auth|slice(4, 3) %}
                        {% set thirdSeg = auth|slice(7, 2) %}
                        {% set fourSeg = auth|slice(9, 2) %}
                        <div><p style="color: #B1B1B1;">+7 ({{ firstSeg }})-{{secondSeg}}-{{thirdSeg}}-{{fourSeg}}  <a style="margin-left: 5px;" id="form-logout-href" href="#form-logout"> Выйти</a></p></div>
                      {% else %}
                        <div><p style="color: #B1B1B1;" >не авторизован <a id="form-login-href" href="#form-login"> Войти</a></p></div>
                      {% endif %}
                    </div>

                    <div id="btn-cart"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="19.875" height="19.88" viewBox="0 0 19.875 19.88"><defs><style>.cls-1 {fill: #1d1d1b;fill-rule: evenodd;}</style></defs><path d="M1.318,4.796 L18.556,4.796 L19.882,19.884 L-0.008,19.884 L1.318,4.796 ZM6.622,4.796 C6.622,4.796 6.622,5.487 6.622,6.853 C6.622,7.989 6.211,8.911 5.296,8.911 C4.381,8.911 3.970,7.989 3.970,6.853 C3.970,5.717 3.970,4.796 3.970,4.796 M15.904,4.796 C15.904,4.796 15.904,5.487 15.904,6.853 C15.904,7.989 15.493,8.911 14.578,8.911 C13.663,8.911 13.252,7.989 13.252,6.853 C13.252,5.717 13.252,4.796 13.252,4.796 M4.633,6.167 C4.633,2.762 6.597,-0.005 9.937,-0.005 C13.267,-0.005 15.241,3.383 15.241,6.167 C15.241,7.506 13.915,7.506 13.915,6.167 C13.915,4.081 12.580,1.366 9.937,1.366 C7.269,1.366 5.959,4.076 5.959,6.167 C5.959,7.528 4.633,7.549 4.633,6.167 Z" class="cls-1"></path></svg><span>Корзина пуста</span></div>

                    <div class="col-sm-3 col-xs-8">
                       <div class="social">
                            <!--<ul class="social-share">-->
                                <!--<li><a href="#"><i class="fa fa-facebook"></i></a></li>-->
                                <!--<li><a href="#"><i class="fa fa-twitter"></i></a></li>-->
                                <!--<li><a href="#"><i class="fa fa-linkedin"></i></a></li> -->
                                <!--<li><a href="#"><i class="fa fa-dribbble"></i></a></li>-->
                                <!--<li><a href="#"><i class="fa fa-skype"></i></a></li>-->
                            <!--</ul>-->
                            <div class="search">
                                <form role="form">
                                    <input type="text" class="search-form" autocomplete="off" placeholder="Search">
                                    <i class="fa fa-search"></i>
                                </form>
                           </div>
                       </div>
                    </div>
                </div>
            </div><!--/.container-->
	</div><!--/.top-bar-->
