title = "Demonstration"
url = "/"
layout = "default"

[homepage]
==
<div class="jumbotron">
    <div class="container">
        {% content "welcome.htm" %}
    </div>
</div>

<div class="container">

    <div class="page-header">
        <h2>Overview <small>Basic concepts</small></h2>
    </div>

    <div id="tree"></div>
    <div class="products">
        {% partial "homepage/products" products=products %}
    </div>

</div>
