
==

<section id="products" class="load">
  <div class="container">
    <div id="tree"></div>
    <div class="products">
      {% partial "homepage/products" products=products %}
    </div>
  </div>
</section>

<section id="feature">
	{% partial "features" %}
</section>

<section id="recent-works">
	{% partial "works" %}
</section>

<section id="services" class="service-item">
	{% partial "services" %}
</section>

<section id="middle">
    <div class="container">
        <div class="row">
			{% partial "skills" %}
			{% partial "accordion" %}
        </div><!--/.row-->
    </div><!--/.container-->
</section><!--/#middle-->

<section id="content">
    <div class="container">
        <div class="row">
			{% partial "tabs" %}
			{% partial "testimonials" %}
        </div><!--/.row-->
    <div><!--/.container-->
</section><!--/#content-->

<section id="partner">
	{% partial "partners" %}
</section><!--/#partner-->

<section id="conatcat-info">
	{% content "contact-info.htm" %}
</section><!--/#conatcat-info-->
