title = "Home"
url = "/"
layout = "default"
description = "Home Page"
meta_author = "JoomShaper and József Tamás Herczeg"
meta_description = "Free business HTML theme fromm ShapeBootstrap, converted for OctoberCMS"
meta_keywords = "business, corporate, portfolio, blog, responsive, bootstrap"

[cart]
[homepage]
==

<section id="products" class="load">
  <div class="container">
    {# partial "tips" tips=tips #}
    {% partial "homepage/products" products=products %}
  </div>
  <div id="cart" style="display: none;">
    <h4>Ваша корзина</h4>
    <div class="content"></div>
    <div class="calculate"></div>
  </div>
</section>

<section id="partner">
	{% partial "partners" %}
</section><!--/#partner-->

<!--<section id="conatcat-info">-->
	<!--{# content "contact-info.htm" #}-->
<!--</section>&lt;!&ndash;/#conatcat-info&ndash;&gt;-->
