title = "Site Maintenance"
url = "/offline"
description = "Site Maintenance page"

[layout]
==
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="description" content="Corlate Maintenance">
<meta name="keywords" content="business, corporate, portfolio, blog, responsive, bootstrap">
<meta name="author" content="JoomShaper and József Tamás Herczeg">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>{{ this.page.title }} | {{ this.theme.site_name }}</title>
<link href="{{ ['assets/css/offline.css']|theme }}" rel="stylesheet">
<!-- favicon -->
<link rel="shortcut icon" href="{{ 'assets/images/ico/favicon.ico'|theme }}">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ 'assets/images/ico/apple-touch-icon-144-precomposed.png'|theme }}">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ 'assets/images/ico/apple-touch-icon-114-precomposed.png'|theme }}">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ 'assets/images/ico/apple-touch-icon-72-precomposed.png'|theme }}">
<link rel="apple-touch-icon-precomposed" href="{{ 'assets/images/ico/apple-touch-icon-57-precomposed.png'|theme }}">
</head>
<body>
<div id="border">
<div id="logobg">
	<img src="{{ 'assets/images/logo.png'|theme }}" alt="logo"><br/>
</div>	
<h2>Offline</h2>
	<p>This site is currently down for maintenance.<br>Please return soon.</p>
</div>
</body>
</html>