
.top-bar a{
    color: white;
}

.top-bar a:hover{
    color: white;
}

.forms{
    display: inline-block;
}

.forms .form-row{
    position: relative;
    margin-bottom: 20px;
}

.forms .form-row .tolltip{
    display: none;
    position: absolute;
    top: -25px;
    left: 124px;
    border-radius: 4px;
    color: red;
    padding: 0 5px;
    background: rgba(255, 0, 0, 0.14);
    font-size: 13px;
}

.forms .form-row.error input,
.forms .form-row.error textarea{
    border: solid 2px red;
}

.forms .form-row.error .tolltip{
    display: block;
}

.forms .form-title{
    padding-top: 20px;
    margin-bottom: 40px;
    line-height: 27px;
    font-size: 18px;
    text-align: center;
}
.forms label{
    width: 120px;
}

.forms textarea,
.forms input{
    min-width: 350px;
    border-radius: 4px;
    border: solid 2px #ADADAD;
}
.forms input{
    padding-left: 5px;
}

.forms textarea{
    min-height: 100px;
}
.forms button{
    border-radius: 4px;
    border: solid transparent;
    background: #C4C4C4;
    margin-left: 123px;
    margin-top: 10px;
}

#header .navbar-nav>li {
    margin-left: 0;
}

.pump-label{
    width: 40px;
    /*text-align: right;*/
    display: inline-block;
    font-weight: 600;
    margin-right: 5px;
}