<section class="product">

  <div class="box">
    <div class="category">({{ product.category.name }})</div>
    <a href="/goods/3822306" target="_blank" class="double-hover js-gtm-product-click pseudo-hover"
       id="linkImage3822306" data-gtm-eventlocation="main_page_top_hits" data-gtm-eventposition="0"
       data-gtm-eventproductid="3822306" data-gtm-eventproductname="Телевизор LG 43LH570V"
       data-gtm-eventproducttag="bestSeller" data-gtm-eventportalname="ТВ, Аудио, Видео"
       data-gtm-eventcategoryid="10118792" data-gtm-eventcategoryname="Smart телевизоры"
       data-gtm-eventcategorygroupid="81419" data-gtm-eventcategorygroupname="Телевизоры"
       data-gtm-eventvendorid="83" data-gtm-eventvendorname="LG" data-gtm-eventproductprice="31990.00"
       data-gtm-eventblockvendor="Ulmart" data-gtm-eventpromostrategy="">
                        <span class="">
                            <img src="{{ product.photos|first }}" class="b-img2__img" width="140px" height="140px">
                        </span>
    </a>
    <h3 class="b-product__title">
      <a href="/goods/3822306" target="_blank" class="js-gtm-product-click pseudo-hover"
         id="linkText3822306" data-gtm-eventlocation="main_page_top_hits" data-gtm-eventposition="0"
         data-gtm-eventproductid="3822306" data-gtm-eventproductname="Телевизор LG 43LH570V"
         data-gtm-eventproducttag="bestSeller" data-gtm-eventportalname="ТВ, Аудио, Видео"
         data-gtm-eventcategoryid="10118792" data-gtm-eventcategoryname="Smart телевизоры"
         data-gtm-eventcategorygroupid="81419" data-gtm-eventcategorygroupname="Телевизоры"
         data-gtm-eventvendorid="83" data-gtm-eventvendorname="LG" data-gtm-eventproductprice="31990.00"
         data-gtm-eventblockvendor="Ulmart" data-gtm-eventpromostrategy="">
        {{ product.name }}
      </a>
    </h3>
  </div><!--
                    -->
  <div class="box_b">
    <div class="price">

                    <span class="b-price b-price_theme_normal b-price_size3">
                        <span class="b-price__num">{{ product.price|number_format( 0, ',', ' ') }}</span>
                        <span class="b-price__sign">руб.</span>
                        <span data-goodid="3822306" style="margin-left: 5px;" class="js-qtip-click-handle"
                              data-qtip-href="/loyaltyPrices/3822306?isMyPriceShow=false&amp;fromCart=false" data-qtip-my="top right"
                              data-qtip-at="bottom right" data-qtip-classes="qtip-width-4 qtip_pad2 qtip_smaller" data-hasqtip="4"
                              aria-describedby="qtip-4">
                        </span>
                    </span>

    </div>
  </div>
</section>